<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CIRC Digital Justice Cluster Starter</title>
  <meta name="description" content="CIRC Digital Justice Cluster Starter">
  <meta name="author" content="CIRC DJ">
  <meta property="og:title" content="A Basic HTML5 Template">
  <meta property="og:type" content="website">
  <!-- <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/"> -->
  <!-- <meta property="og:description" content="A simple HTML5 Template for new projects."> -->
  <!-- <meta property="og:image" content="image.png"> -->

  <!-- <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->
  <link rel="shortcut icon" href="#">

  <!-- VUE.JS for the front-end TODO: Make local-->
  <script src="https://unpkg.com/vue@3"></script>
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <h1>Data pulled from</h1>

  <div id="app">

    <hr>
    <!-- <ul>
      <todo-item v-for="ref in references" :refitem="ref" :key="ref.id"></todo-item>
    </ul> -->

    <div v-for="ref in dataPull" :key="ref.ID_Number">
      <h2>{{ref.Title}}</h2>
      <p>{{ref.Author}}</p>
      <p>{{ref.Abstract}}</p>
    </div>

  </div>

  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
  <script type="module" src="/js/main.js"></script>
</body>

</html>
