body {
  background: linear-gradient(73deg, #4d11a7, #8500ad);
  position: relative;
}

h1, h2, h3, p {
  color: white;
}

body hr {
  color: white;
  border: none;
  width: 25%;
  height: 3px;
}

body header {
  position: fixed;
  right: 0;
  /* padding-top: 0.5em; */
  padding-right: 1em;
  cursor: pointer;
}

body header {
  color: yellow;
  font-size: 2em;
}
